    <div class="top-line"></div>
<section class="benefits-section" aria-label="Benefícios da loja">
    <ul class="benefits-list">
        <li class="benefit-item">
            <figure>
                <img src="assets/truck-icon.svg" alt="Ícone de caminhão" class="benefit-item__icon">
                <figcaption class="benefit-item__text">
                    Entregamos em qualquer cantinho do país com carinho e segurança!
                </figcaption>
            </figure>
        </li>
        <li class="benefit-item">
            <figure>
                <img src="assets/tag-icon.svg" alt="Ícone de etiqueta" class="benefit-item__icon">
                <figcaption class="benefit-item__text">
                    Nos siga no Instagram e acompanhe nossos descontos exclusivos!
                </figcaption>
            </figure>
        </li>
        <li class="benefit-item">
            <figure>
                <img src="assets/card-icon.svg" alt="Ícone de cartão" class="benefit-item__icon">
                <figcaption class="benefit-item__text">
                    Pague do seu jeito: aceitamos as principais bandeiras de cartão.
                </figcaption>
            </figure>
        </li>
        <li class="benefit-item">
            <figure>
                <img src="assets/shield-icon.svg" alt="Ícone de escudo" class="benefit-item__icon">
                <figcaption class="benefit-item__text">
                    Pague do seu jeito: aceitamos as principais bandeiras de cartão.
                </figcaption>
            </figure>
        </li>
    </ul>
</section>