<div class="benefits-section">
    <div class="benefits-list">
        <div class="benefit-item">
            <img src="assets/truck-icon.svg" alt="ícone de caminhão" class="benefit-item__icon">
            <span class="benefit-item__text">Entregamos em qualquer cantinho do país com carinho e segurança!</span>
        </div>
        <div class="benefit-item">
            <img src="assets/tag-icon.svg" alt="ícone de etiqueta" class="benefit-item__icon">
            <span class="benefit-item__text">Nos siga no Instagram e acompanhe nossos descontos exclusivos!</span>
        </div>
        <div class="benefit-item">
            <img src="assets/card-icon.svg" alt="ícone de cartão" class="benefit-item__icon">
            <span class="benefit-item__text">Pague do seu jeito: aceitamos as principais bandeiras de cartão.</span>
        </div>
        <div class="benefit-item">
            <img src="assets/shield-icon.svg" alt="ícone de escudo" class="benefit-item__icon">
            <span class="benefit-item__text">Pague do seu jeito: aceitamos as principais bandeiras de cartão.</span>
        </div>
    </div>
</div>