<footer class="footer">
	<div class="footer__container">
		<div class="footer__col footer__col--logo">
			<img src="assets/logo.svg" alt="Verô Papelaria Personalizada" class="footer__logo">
			<p class="footer__copyright">
				Copyright © VeroPapelariaPersonalizada 2025<br>
				Todos os Direitos Reservados
			</p>
		</div>
		<div class="footer__col footer__col--contact">
			<h3 class="footer__title">Contato</h3>
			<p class="footer__contact-info">+55 (11) 96069-0517</p>
			<p class="footer__contact-info">veropapelariapersonalizada@gmail.com</p>
			<p class="footer__contact-info"><strong>Horário de Atendimento:</strong><br>De segunda a sexta das 9h às 18h.</p>
			<hr class="footer__divider">
			<p class="footer__contact-link">Dúvidas Frequentes</p>
			<p class="footer__contact-link">Trocas e Devoluções</p>
		</div>
		<div class="footer__col footer__col--menu">
			<h3 class="footer__title">Menu</h3>
			<ul class="footer__menu">
				<li>Álbuns de Foto</li>
				<li>Bloco de Notas</li>
				<li>Cadernos e Agendas</li>
				<li>Caixas</li>
				<li>Calendários</li>
				<li>Infantil</li>
				<li>Outros</li>
			</ul>
		</div>
	</div>
</footer>
